@tailwind base;
@tailwind components;
@tailwind utilities;


.cart-count {
    display: none; /* Скрыто, если товаров нет */
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #ef4444; /* Красный цвет */
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}
